# Environment
ENV

# PostgreSQL
POSTGRES_DATABASE_URL

# MongoDB
MONGO_HISTORY_DATABASE_URL
MONGO_HISTORY_DATABASE_NAME
MONGO_HISTORY_DATABASE_USR_HISTORY_COLLECTION_NAME
MONGO_HISTORY_DATABASE_APP_HISTORY_COLLECTION_NAME

# Redis
REDIS_STORE_URL
REDIS_FANOUT_URL
REDIS_HEARTBEAT_URL

# Geo-Region
REGION

# Kafka
KAFKA_BOOTSTRAP

# Mailjet
MAILJET_API_KEY
MAILJET_API_SECRETS