# Environment
ENV=DEV|PROD

# PostgreSQL
POSTGRES_DATABASE_URL=url

# MongoDB
MONGO_HISTORY_DATABASE_URL=url
MONGO_HISTORY_DATABASE_NAME=
MONGO_HISTORY_DATABASE_USR_COLLECTION_NAME=
MONGO_HISTORY_DATABASE_APP_COLLECTION_NAME=

# Redis
REDIS_STORE_URL=
REDIS_FANOUT_URL=
REDIS_HEARTBEAT_URL=

# Geo-Region
REGION=dk1

# Kafka
KAFKA_BOOTSTRAP=
KAFKA_READER_BUFFER_SIZE=
KAFKA_COMMIT_INTERVAL=
KAFKA_NUM_READERS=

# Mailjet
MAILJET_API_KEY=
MAILJET_API_SECRETS=